@charset "UTF-8";

/* ----------------------------------------------------------
  Box style
---------------------------------------------------------- */

.wpupostmetas-table {
    width: 100%;
    table-layout: fixed;
}

.wpupostmetas-table th,
.wpupostmetas-table td {
    vertical-align: top;
}

.wpupostmetas-table th {
    width: 160px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.wpupostmetas-table th + td {
    padding-bottom: 8px;
}

@media(max-width:400px) {
    .wpupostmetas-table,
    .wpupostmetas-table > tbody,
    .wpupostmetas-table > tbody > tr,
    .wpupostmetas-table > tbody > tr > th,
    .wpupostmetas-table > tbody > tr > td {
        display: block;
        width: auto;
    }
}

/* Side
-------------------------- */

#side-sortables .wpupostmetas-table tbody,
#side-sortables .wpupostmetas-table thead,
#side-sortables .wpupostmetas-table tr,
#side-sortables .wpupostmetas-table td,
#side-sortables .wpupostmetas-table {
    display: block;
}

#side-sortables .wpupostmetas-table th {
    width: 100%;
}

#side-sortables .wpupostmetas-table td {
    padding-top: 5px;
}

#side-sortables .wpupostmetas-table tr + tr th {
    padding-top: 15px;
}

/* Help
-------------------------- */

.wpupostmetas-description-help {
    clear: both;
    padding: 0.1em 0;
    font-size: 0.9em;
    font-style: italic;
    color: #555;
}

/* Fields
-------------------------- */

.wpupostmetas-table input[type=radio] {
    margin-right: 5px;
    vertical-align: -5px;
}

.wpupostmetas-table label + input[type=radio] {
    margin-left: 20px;
}

.wpupostmetas-table textarea,
.wpupostmetas-table input[type="password"],
.wpupostmetas-table input[type="color"],
.wpupostmetas-table input[type="date"],
.wpupostmetas-table input[type="datetime"],
.wpupostmetas-table input[type="email"],
.wpupostmetas-table input[type="number"],
.wpupostmetas-table input[type="tel"],
.wpupostmetas-table input[type="text"],
.wpupostmetas-table input[type="time"],
.wpupostmetas-table input[type="url"] {
    display: block;
    width: 100%;
    margin: 0;
    max-width: 100%;
}

/* Attachment
-------------------------- */

.wpupostmetas-attachments__container {
    z-index: 1;
    position: relative;
}

.wpupostmetas-attachments__container .before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    filter: alpha(opacity=0);
}

.wpupostmetas-attachments__container.is-disabled .before {
    right: 0;
    bottom: 0;
    opacity: 0.90;
    background-color: #fff;
    filter: alpha(opacity=90);
}

.wpupostmetas-attachments__refresh {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    vertical-align: middle;
    background: transparent url(reload.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

.wpupostmetas-table .preview-img {
    float: left;
    margin-right: 5px;
    text-align: left;
    line-height: 28px;
}

.wpupostmetas-table .preview-img img {
    width: auto;
    height: 25px;
    max-width: 50px;
    vertical-align: middle;
}

.wpupostmetas-attachments__container .no-attachments,
.wpupostmetas-attachments__container[data-attachment-count="0"] select,
.wpupostmetas-attachments__container[data-attachment-count="0"] .preview-img {
    display: none;
}

.wpupostmetas-attachments__container[data-attachment-count="0"] .no-attachments {
    display: inline;
}

/* Table
-------------------------- */

.wpupostmetas-table-post-wrap {
    padding: 10px;
    max-height: 500px;
    min-height: 10px;
    border: 1px solid #e0e0e0;
    overflow: auto;
    background-color: #f6f6f6;
}

.wpupostmetas-table-post-wrap .template {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.wpupostmetas-table-post-wrap button {
    cursor: pointer;
}

.wpupostmetas-table-post-wrap button .dashicons {
    margin-right: 3px;
    vertical-align: -4px;
}

.wpupostmetas-table-post-wrap .table-toolbox button {
    visibility: hidden;
}

.wpupostmetas-table-post-wrap tr:last-child .table-toolbox .down,
.wpupostmetas-table-post-wrap tr:first-child .table-toolbox .up {
    display: none;
}

.wpupostmetas-table-post-wrap tr:hover .table-toolbox button {
    visibility: visible;
}

/* ----------------------------------------------------------
  Multilingual wrapper
---------------------------------------------------------- */

.multilingual-wrapper {
    z-index: 1;
    position: relative;
    margin-top: 25px;
    padding: 5px;
    background-color: #f0f0f0;
}

.multilingual-toolbox {
    z-index: 1;
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 12px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.multilingual-toolbox [data-i] {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    color: #999;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.multilingual-toolbox .current {
    color: #000;
    background-color: #f0f0f0;
}

.wpupostmetas-table--multilingual > tbody > tr:not(.is-visible) {
    display: none;
}

/* ----------------------------------------------------------
  Field image
---------------------------------------------------------- */

.wpupostmetas-field-image {
    line-height: 27px;
}

.wpupostmetas-field-image img {
    width: 27px;
    height: 27px;
    vertical-align: middle;
    cursor: pointer;
    object-fit: cover;
}

.wpupostmetas-field-image__remove,
.wpupostmetas-field-image img[src=""] {
    display: none;
}

.wpupostmetas-field-image--hasimage .wpupostmetas-field-image__remove {
    display: block;
}
